<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/stilus.css"
        />
        <title>Cinema API/404</title>
    </head>
    <body>
        <%- include('./nav.ejs') %>
        <div id="kontener">
            <h1>404-es hiba!</h1>
            <h4>A keresett erőforrás nem található!</h4>
        </div>
    </body>
</html>
