<nav>
    <li><a href="./index.ejs">Főoldal</a></li>
    <li><a href="./films.ejs">Filmek</a></li>
    <li><a href="./viewers.ejs">Nézők</a></li>
    <li><a href="./reservations.ejs">Foglalások</a></li>
</nav>
