<nav>
    <li><a href="/api/cinema">Főoldal</a></li>
    <li><a href="/api/cinema/filmek">Filmek</a></li>
    <li><a href="/api/cinema/ujfilm">Új Film</a></li>
    <li><a href="/api/cinema/nezok">Nézők</a></li>
    <li><a href="/api/cinema/foglalasok">Foglalások</a></li>
</nav>
